.ember-progress {
  width: 100%;
  height: 19px;
  outline: 1px solid #28506e;
  text-align: center;
  position: relative;
  margin: 15px auto 15px auto;

  .ember-progress-inner {
    height: inherit;
    width: 0;
    background: #28506e;
  }

  .ember-progress-text {
    text-align: center;
    color: #b97626;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: calc(50% - 14px);
  }

  &.xs {
    max-width: 25%;
  }

  &.sm {
    max-width: 33%;
  }

  &.md {
    max-width: 50%;
  }

  &.lg {
    max-width: 66%;
  }

  &.xlg {
    max-width: 100%;
  }
}
