<button class="btn btn-lg btn-primary" {{action 'open'}}>Launch Tasks Modal</button>

{{restartable-tasks-modal
  title='Tasks'
  modalId='restartableTasksModal'
  tasks=tasks
  taskLabel='tasks complete'
  retry=(action 'retry')
  close=(action 'close')
  cancel=(action 'cancel')
  cancelAll=(action 'cancelAll')
  mainTask=processTasks
  retryTask=reprocessTasks
}}

{{outlet}}
